body{
    background-color: green;
    color: white;
    font-family: monospace;

  
    box-sizing: border-box;
}
img{
    border: 2px solid grey;
    width: 100%;
    height: 500px;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Caso tenha outros elementos, alinhe em coluna */
    width: 50%;
    margin: 100px auto;
}
button {
    background-color: orangered;
    color: rgb(97, 34, 34);
    border-radius: 8px;
    padding: 14px 25px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
button:hover{
    background-color: red;
    color: rgb(180, 149, 9);
}

@media (max-width:600px){
    body .container{
        width: 90%;
        margin-left: 5px;
        margin-top: 50px;

    }
    h1, p{
        font-size: 1.5rem;
    }
}